body{
    margin: 0;
}
h3{
    color: white;
}
.insta{
    text-decoration: none;
    color: white;
    margin-left: 5cm;
    font-size: 40x;
    margin-bottom:px ;
}
.insta:hover{
    color: #8a3ab9;
    
}
.Whatsapp{
    text-decoration: none;
    color: white;
    font-size: 35x;
    

}
.Whatsapp:hover{
    color: green;
}
html{
    scroll-behavior: smooth;
}
.insta:hover{
    color: #8a3ab9;
}
.one{
    padding-top: 2cm;
    
}